// Botones

.button {
    padding: 10px 20px;
    background: $principal;
    color: $oscuro;
    text-decoration: none;
    // font-weight: bold;
    font-size: 1.2vw;
    border: none;
    border-radius: 5px;
  }