// Footer

footer.footer {

    .footer__newsletter {
        width: 100%;
        background-color: $body;
        text-align: center;
        @include flex(flex, column, center, center, center); 

        h3 {
            color: $titulo;
            padding: 50px 0px;
            font-size: 1.2vw;
        }
        
        input.campo {
            padding: 5px 5px;
            background-color: lightgoldenrodyellow;
            border: none;
        }

        .button {
            background-color: $principal;
            color: $oscuro;
            margin: 50px;
        }
    }
    
    .footer__menu {
        width: 100%;
        background-color: $claro;
        @include flex(flex, row, center, center, center);
        gap: 100px;
        padding: 30px 0px;

        a.footer__link {
            color: $texto;
            text-decoration: none; 
            // font-size: 1vw;    
        }
    }
}

@media screen and (max-width: 769px) {
    footer.footer {

        .footer__newsletter {
    
            h3 {
                font-size: 2.5vw;
            }

            .button {
                font-size: 1.7vw;
            }
        }

        .footer__menu {
            @include flex(flex, column, center, center, center);
            padding: 25px 0px;
            gap: 40px;
        }
    }
}