header.header {
    background-color: $color-secundario-2;
    width: 100%;
    height: fit-content;
    padding: 15px 50px 15px 50px;
    @include flex(flex, column, center, space-between, center);
   
    
    img.header__logo {
        height: 70px;
    }
}

nav.menu {
    background-color: $color-secundario;
    width: 100%;
    height: fit-content;
    padding: 15px 575px 15px;
    @include flex(flex, row, center, space-between, center);

    a.menu__link {
        color: #000;
        text-decoration: none;     
    }
}

// @media screen and (min-width: 769px) {
//     /* STYLES HERE */
// }

// @media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
//     /* STYLES HERE */
// }

// @media only screen and (max-device-width: 480px) {
//     /* STYLES HERE */
// }