header.header {
    background-color: $oscuro;
    width: 100%;
    height: fit-content;
    @include flex(flex, column, center, space-between, center);
   
    
    img.header__logo {
        height: 100px;
        padding: 15px 0px;
    }
    
    nav.menu {
        background-color: $claro;
        width: 100%;
        height: fit-content;
        padding: 7px 0px;
        @include flex(flex, row, center, center, center);
        gap: 45px;
        
        a.menu__link {
            color: $texto;
            text-decoration: none; 
            // font-size: 1vw;    
        }
    
        img {
            height: 40px;
        }
    }

    nav.menu-lateral {
        background-color: $claro;
        width: 100%;
        height: fit-content;
        padding: 7px 100px;
        @include flex(flex, row, center, space-between, center);
    
        img {
            height: 25px;
        }
    }
}

// @media screen and (min-width: 769px) {
//     /* STYLES HERE */
// }

// @media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
//     /* STYLES HERE */
// }

// @media only screen and (max-device-width: 480px) {
//     /* STYLES HERE */
// }