body {
    background-color: $color-principal;
}

div.carousel {
    width: 100%;
    height: 70vh;
    padding: 0px 50px;
    background: rgba(#000, 0.2);
}

div.targeta-foto-texto {
    width: 100%;
    height: fit-content;
    padding: 25px 50px 25px;
    @include flex(flex, row, center, space-between, center);

    img.targeta-foto-texto_imagen {
        // height: ;
    }

    p.targeta-foto-texto__texto {

    }
}