body {
    background-color: $body;
    font-family: 'TiltNeon', sans-serif;
}

div.carousel {
    width: 100%;
    height: 70vh;
    padding: 0px 50px;
    background: rgba(#000, 0.2);
}

div.targeta-foto-texto {
    width: 100%;
    background-color: $oscuro;
    height: fit-content;
    padding: 25px 50px 25px;
    @include flex(flex, row, center, space-between, center);

    img.targeta-foto-texto__imagen {
        width: 70%;
        padding: 25px 10%;
    }

    div.targeta-foto-texto__texto {
        width: 50%;
        @include flex(flex, column, center, space-between, flex-start);
        gap: 5vh;
        padding: 0px 10% 0px 0px;

        h2 {
            color: $titulo;
        }

        p {
            color: $texto;
        }
    }
}

div.targeta-columnas-texto {
    width: 100%;
    height: 70vh;
    text-align: center;
    padding: 25px 50px 25px;
    background-color: $body;
    
    h2 {
        font-size: 1.7vw;
        padding-top: 10px;
        color: $titulo;
    }
    
    div.targeta-columnas-texto__contenido {
        height: 100%;
        padding: 25px 0px 25px 0px;
        @include flex(flex, row, center, center, center);
        color: $texto;

        div.targeta-columnas-texto__texto-1 {
            width: 50%;
            height: 80%;
            padding: 0px 10%;
            font-size: 1.3vw;
            line-height: 45px;

            p {
                height: 75%;
            }

            .button {
                background-color: $principal;
                color: $oscuro;
            }
        }
        div.targeta-columnas-texto__separador {
            height: 90%;
            width: 2px;
            background-color: $titulo;
        }
        div.targeta-columnas-texto__texto-2 {
            width: 50%;
            height: 80%;
            padding: 0px 10%;
            font-size: 1.3vw;
            line-height: 45px;

            p {
                height: 75%;
            }

            .button {
                background-color: $principal;
                color: $oscuro;
            }
        }
    }
}

div.inicio-de-sesion {
    width: 100%;
    height: 40vh;
    padding: 25px 50px 25px;
    background-color: $oscuro;
    color: $titulo;
    text-align: center;

    h3 {
        padding: 25px 0px;
        font-size: 1.2vw;
    }

    .inicio-de-sesion__botones {
        @include flex(flex, row, center, center, center);
        height: 75%;
        gap: 125px;

        .button {
            background-color: $principal;
            color: $oscuro;
        }

        .inicio-de-sesion__separador {
            height: 20px;
            width: 2px;
            background-color: $titulo;
        }
    }
}


@media screen and (max-width: 769px) {
    div.targeta-foto-texto {
        @include flex(flex, column, center, space-between, center);
        padding: 15px 0px;

        div.targeta-foto-texto__texto {
            gap: 15px;
            padding: 10px 0px;

            h2 {
                font-size: 2.5vw;
            }

            p {
                font-size: 2vw;
            }
        }
    }
    
    div.targeta-columnas-texto {

        h2 {
            font-size: 2.5vw;
        }

        div.targeta-columnas-texto__contenido {
            @include flex(flex, column, center, center, center);

            div.targeta-columnas-texto__separador {
                height: 2px;
                width: 90%;
            }

            div.targeta-columnas-texto__texto-1, div.targeta-columnas-texto__texto-2 {
                width: 75%;
                height: 50%;
                padding: 15px 0px;

                p {
                    font-size: 2vw;
                }

                .button {
                    font-size: 1.7vw;
                }
            }
        }
    }

    div.inicio-de-sesion {

        h3 {
            font-size: 2.5vw;
        }

        .inicio-de-sesion__botones {
            @include flex(flex, column, center, center, center);
            gap: 25px;
            
            .button {
                font-size: 1.7vw;
            }

            .inicio-de-sesion__separador {
                height: 2px;
                width: 20px;
            }
        }
    }
}