.form-box__new-worker {
    height: 600px;
    @include flex(flex, row, center, center, center);

    h2 {
        color: $titulo;
    }

    .form-new-worker {
        width: 85%;
        @include flex(flex, column, center, center, center);
        gap: 50px;

        .form-new-worker-campos  {
            @include flex(flex, row, center, center, center);
            gap: 200px;

            .form-new-worker__campo{
                color: $texto;
                @include flex(flex, column, center, center, flex-start);
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .form-box__new-worker {
        width: 95%;

        .form-new-worker {
            width: inherit;

            a {
                font-size: 1.7vw;
            }
        }
    }
}